/*-------------------- GOOGLE FONTS --------------------*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*-------------------- VARIABLE CSS --------------------*/
:root {
    --header-height: 3rem;

    /*-------------------- COLORS --------------------*/
    --bg-color: rgb(241, 241, 241);
    --scroll-bar-color: hsla(300, 6.98%, 83.14%, 1);

    /*-------------------- FONT AND TYPOGRAHPY --------------------*/
    --body-font: "Montserrat", sans-serif;
}

/*-------------------- BASE --------------------*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 0 var(--header-height) 0;
    font-family: var(--body-font);
    background: var(--bg-color);
}

h1, h2, h3, h4 {
    color: var(--first-color);
    font-weight: var(--font-semi-bold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.button--flex{
    display: inline-flex;
    align-items: center;
}


/*-------------------- REUSABLE CSS --------------------*/
.section {
    padding: 6rem 0 2rem;
}

.container {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
  }

/*-------------------- NAV --------------------*/
.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    display: flex;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    -webkit-user-select: none;
    user-select: none;
}

.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    width: 510px;
    justify-content: center;
    align-items: center;
    background-color: hsla(300, 33.33%, 97.88%, 1);
    box-shadow: 5px 2px 20px #0000001a;
    border-radius: 30px;
}

.nav-links-item {
    cursor: pointer;
    font-size: 13px;
    z-index: 2;
    padding: 15px 20px;
    font-weight: 600;
    color: black;
}

.nav-links-item.active {
    border-radius: 30px;
    box-shadow: 0px 0px 10px #00000033;
    padding: 10px 20px;
}

.nav-logo {
    display: flex;
    width: 40px;
}

/*-------------------- HOME --------------------*/
.home-content {
    padding-top: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.home-container h1 {
    font-size: 50px;
    font-weight: 800;
    background: -webkit-linear-gradient(45deg,#c2c2c2 -20%, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.home-container h1, h3, p{
    padding: 1rem;
}

.home-container h3 {
    font-size: 19px;
    font-weight: 600;
    background: #575757;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.home-container p {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10rem;
}

.home-container i {
    margin-right: 15px;
}

/*-------------------- WEBSITE --------------------*/
.website-div {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(2, 1fr);
    background-color:  rgb(231, 231, 231);
    padding: 3rem;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #00000034;
}

.website-title {
    font-size: 35px;
    font-weight: 600;
    color: black;
    margin-bottom: 2rem;
}

.website-subtitle {
    font-size: 15px;
    font-weight: 400;
    color: rgb(110, 110, 110);
}

.website-button-div:hover .website-button-icon{
    transform: translateX(.25rem);
}

.website-button{
    margin-top: 2.5rem;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
    color: rgb(110, 110, 110);
    box-shadow: 0px 0px 10px #00000034;
    padding: .9rem;
    border-radius: 20px;
    cursor: pointer;
}

.website-button-icon{
    font-size: 1.25rem;
    margin-left: .5rem;
    transition: .3s;
}

/*-------------------- ECOM --------------------*/
.ecom-div {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(2, 1fr);
    background-color:  rgb(231, 231, 231);
    padding: 3rem;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #00000034;
}

.ecom-title {
    font-size: 35px;
    font-weight: 600;
    color: black;
    margin-bottom: 2rem;
}

.ecom-subtitle {
    font-size: 15px;
    font-weight: 400;
    color: rgb(110, 110, 110);
}

.ecom-button-div:hover .ecom-button-icon{
    transform: translateX(.25rem);
}

.ecom-button{
    margin-top: 2.5rem;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
    color: rgb(110, 110, 110);
    box-shadow: 0px 0px 10px #00000034;
    padding: .9rem;
    border-radius: 20px;
    cursor: pointer;
}

.ecom-button-icon{
    font-size: 1.25rem;
    margin-left: .5rem;
    transition: .3s;
}

/*-------------------- ABOUT --------------------*/

/*-------------------- SCROLLBAR --------------------*/
::-webkit-scrollbar {
    width: 17px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #c9c9c9;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
    transition: background-color 1s ease;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #858585;
    cursor: pointer;
  }