/*-------------------- Google Fonts --------------------*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*-------------------- Variable CSS --------------------*/
:root {
    --header-height: 3rem;

    /*-------------------- Colors --------------------*/
    --bg-color: hsla(300, 33.33%, 95.88%, 1);
    --scroll-bar-color: hsla(300, 6.98%, 83.14%, 1);

    /*-------------------- Font and Typography --------------------*/
    --body-font: "Montserrat", sans-serif;
}

/*-------------------- Base --------------------*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 0 var(--header-height) 0;
    font-family: var(--body-font);
    background: var(--bg-color);
}

h1, h2, h3, h4 {
    color: var(--first-color);
    font-weight: var(--font-semi-bold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}


/*-------------------- Reusable CSS --------------------*/
.section {
    padding: 2rem 0 4rem;
}

.container {
    max-width: 768px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

/*-------------------- Nav --------------------*/
.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    display: flex;
    margin-top: 15px;
    justify-content: center;
    align-items: center;
    -webkit-user-select: none;
    user-select: none;
}

.nav-menu {
    display: flex;
    margin-top: 1rem;
    background-color: var(--bg-color);
    box-shadow: 5px 2px 20px #0000001a;
    border-radius: 30px;
}

.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.nav-item {
    cursor: pointer;
    font-size: 13px;
    z-index: 2;
    padding: 15px 5px;
    margin: 0 5px;
    font-weight: 300;
}

.nav-logo {
    
}